.form-style{
  width: 50%;
}

.full-width {
  width: 170%;
}

.title-center {
  flex: 1 1 auto;
  text-align: center;
}

:host {
  display: block;
  height: 100%;
}

.main-div{
  height: 80vh;
  width: 105vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
